body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.anniversary-image {
  width: 100%;
  height: auto;
  display: block;
}

.floater {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 20s infinite linear;
}

@keyframes float {
  0% { transform: translate(0, 0) rotate(0); }
  100% { transform: translate(-100px, 100px) rotate(360deg); }
}

.rotate-clockwise {
  animation-name: rotate-clockwise;
}

.rotate-counterclockwise {
  animation-name: rotate-counterclockwise;
}

@keyframes rotate-clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate-counterclockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
